body{
    background-color: #140d7a;
    text-align: center;
    font-size: 30px;
}
header{
    color: rgba(255, 255, 255, 0.664);
    text-align: center;
}
hr{
    box-shadow: 5px 5px 5px ;
}
input#txtano{
    font-size: 25px;
    background-color: brown;
}
section{
    background-color: rgb(158, 16, 16);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    /*Centraliza as Imagens*/
    margin: auto;
    /*SOMBRA*/
    box-shadow: 5px 5px 10px black;

}
footer{
    margin-top: 10px;
    color: white;
    text-align: center;
    font-style: italic;
}
